html,
body {
  background-color: #1b1b1b;
}
.wrap {
  margin: auto;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h1 {
  margin: 0px 16px 24px 16px;
  padding-top: 50px;
  width: 358px;
  font-size: 42px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 40px;
  /* font-family: "Noto Sans", "sans-serif"; */
}

/* 탭 */

.tab {
  margin: 14px 16px 14px 16px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 358px;
  height: 48px;
  background-color: #313131;
  border-radius: 8px;
  border: #ebebeb67 1px solid;
}

.tab li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 80%;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  color: #ffff;
  font-weight: normal;
  font-size: 13px;
}

.tab li.selected {
  background-color: #ffffff;
  color: #1b1b1b;
}

.tab li span {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  background-color: #b5cff8b7;
  border-radius: 4px;
  color: #1b1b1b;
}

/* 투두리스트 */
#task-list {
  margin: 18px 16px 24px 16px;
  padding: 0;
}

#task-list li {
  width: 358px;
  border-radius: 10px;
  background-color: #b5cff8;
  margin-bottom: 14px;
  padding: 10px 12px 10px 12px;
}

#task-list li.completed {
  background-color: #313131;
}

#task-list li button {
  display: block;
}

#task-list li button.complete-btn {
  border: 1px solid #4d84de;
  border-radius: 30px;
  background-color: #ffffff68;
  color: #4d84de;
  float: left;
  font-size: 13px;
  font-weight: 400;
  padding: 6px 12px 4px 9px;
  margin-bottom: 14px;
}

#task-list li.completed button.complete-btn {
  background-color: #505050;
  border: 1px solid #505050;
  color: #fff;
}

#task-list li button.del-task-btn {
  float: right;
  font-size: 10px;
  border: none;
  color: black;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background: none;
  text-align: center;
}

#task-list li.completed button.del-task-btn {
  border: 1px solid #fff;
  color: #fff;
}

#task-list li p.todo-content {
  clear: both;
  font-weight: 400;
  margin-bottom: 6px;
}

#task-list li.completed p.todo-content {
  color: #fff;
}

#task-list li .todo-tags {
  display: flex;
}

.todo-form {
  width: 70%;
}

.todo-form input {
  width: 100%;
  height: 36px;
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

.todo-form input[type="text"] {
  padding: 6px;
}
.tag-select-container {
  width: 60%;
  border: #ededed 1px solid;
  border-radius: 8px;
  padding: 8px;
}

.selected-tags-container {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  text-align: left;
}

/* .tag-input-form {
  width: 100%;
} */

.tag-input-form input {
  height: 26px;
  font-size: 14px;
  border: none;
  border-bottom: solid 1px #bcbcbc;
  border-radius: 4px;
  background-color: #ececec;
  position: relative;
  right: 0;
  justify-items: flex-end;
  display: block;
  width: 100%;
}

.create-new-tag {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding: 4px;
  margin-top: 10px;
  width: 100%;
}

.create-new-tag button {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
}

.create-new-tag span {
  display: inline-block;
}

.tag {
  border: none;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 14px;
  padding: 4px 6px 2px 6px;
  background-color: rgb(222, 232, 240);
  margin-bottom: 4px;
}

.tag button {
  margin-left: 6px;
  padding: 1px;
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  color: #7f7f7f;
}

.saved-tags-list {
  margin-top: 10px;
}

.saved-tags-list p {
  font-size: 13px;
  margin-bottom: 2px;
  color: #7f7f7f;
}

.saved-tags-list li {
  margin-bottom: 1px;
  padding: 2px 0 2px 0;
  cursor: pointer;
  border-radius: 8px;
}

.saved-tags-list li::marker {
  margin: 2px 2px 2px 2px;
  color: #d8d8d8;
}

.saved-tags-list li:hover {
  background-color: #ebebeb;
}

.saved-tags-list span {
  cursor: pointer;
}
